<form action="/addjob" method="POST">

      <div class="field">
    <label class="label">Enter Jobvalue</label> <input class="input" type="number" placeholder="Euros" name="jobvalue">
  </div>
  <div class="field">
    <div class="control">
      <label class="radio"> <input type="radio" name="jobcategory" value="electrical"> Electrical </label> <label class="radio">
      <input type="radio" name="jobcategory" value="service"> Service </label>
    </div>
  </div>
  <div class="field">
        <input class="input" type="text" placeholder="Enter Lat" name="lat">
      </div>
            <div class="field">
        <input class="input" type="text" placeholder="Enter Long" name="long">
      </div>
  <div class="field">
    <div class="select">
      <select name="employee">
        {{#each employees }}
          <option> {{lastName}},{{firstName}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-warning">Add a new job</button>
    </div>
  </div>
</form>
