<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Whereabout Services Inc." subTitle="Add a whereabout"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns is-vcentered">
  <div class="column box has-text-centered">
    <h1 class="title is-4">Add a whereabout</h1>
    {{> DonateForm }}
  </div>
</div>
