<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Whereabout Services Inc." subTitle="Please Log In"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>
</br>

<div class="column is-4 is-offset-4">
    <div class="box">
   <section class="section">
      <h1 class="title">Log in</h1>
      {{> LoginForm }}
    </div>
  </div>
</div>

